<!DOCTYPE html>
<html lang="en">
  <head>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body >
<footer>
    <hr>
    <div class="container-fluid footer">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-4 text-start align-self-start">
                    <h3 class="fs-5 pb-3">#Ruto Must Go</h3>
                    <a class="d-inline-block" href="/"><img src="/static/assets/logo.svg" alt="Logo" class="img-fluid logo" /> </a>
                    <em class="fs-6 d-inline-block">Demand Accountability. Inspire Change.</em>
                    <hr>
                    <div class="input-group mb-3" bis_skin_checked="1">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Enter your email">
                        <button class="btn btn-outline-secondary" type="button" aria-expanded="false">Sign Up</button>
                    </div>

                </div>
                <div class="col-md-4 align-self-start">
                    <h3 class="fs-5 pb-3">Trending Topics</h3>

                </div>
                <div class="col-md-3 text-start align-self-start">
                    <h3 class="fs-5 pb-3">Resources</h3>
                    <ul>
                        <a href="/our-story"><li class="fs-6 pt-2">Our Story</li></a>
                        <a href="/donate"><li class="fs-6 pt-2">Donate</li></a>
                        <a href="/editor"><li class="fs-6 pt-2">Submit Articles</li></a>
                        <a href="/topics"><li class="fs-6 pt-2">Topics</li></a>
                    </ul>

                </div>

            </div>
            <hr>
            <div class="row text-center">
                <div class="col">
                    <em class="fs-6">2025. All Copyrights</em>

                </div>

            </div>

        </div>

    </div>
 
</footer>
  </body>
</html>
