<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Contributor</title>
    <link rel="stylesheet" href="/static/styles/index.css">

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.tiny.cloud/1/b9n9x0axeohqzicn6lplcu22bpk5s6r0ljzklylze0dqf2r6/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head> 
<body>

    <div class="container contributor mt-3 mb-3 pt-3 pb-3">
        <div class="row justify-content-between align-items-center pt-3 mt-2 ">
            <div class="col-6 align-item-start">
                <h1 class="fs-6 ">Become a Contributor <em class="fs-5">#RutoMustGo</em></h1>
                <h2 class="fs-3 pt-2 header-text">Why Become a Contributor</h2>
                <p class="fs-6"> As a contributor, you play a crucial role in exposing the 
                    truth, driving accountability, and shaping the future. </p>
                               
                <div class="row text-start pt-3">
                    <div class="col-2"> 
                        <img src="/static/Assets/voice.png " alt="voice icon" class="img-fluid w-75" /> 
                    </div>
                    <div class="col-10">
                        <h3 class="fs-5 text-start header-text"> Amplify Your Voice</h3>
                        <p class="fs-6"> Share your insights and reach a wider audience 
                            passionate about justice and transparency.  </p>
                    </div>
                    <div class="col-2"> 
                        <img src="/static/Assets/group.png " alt="voice icon" class="img-fluid w-75" /> 
                    </div>
                    <div class="col-10">
                        <h3 class="fs-5 text-start header-text"> Be Part of a Community</h3>
                        <p class="fs-6"> Connect with like-minded individuals 
                            committed to making a difference. </p>
                    </div>
                    <div class="col-2"> 
                        <img src="/static/Assets/random.png " alt="voice icon" class="img-fluid w-75" /> 
                    </div>
                    <div class="col-10">
                        <h3 class="fs-5 text-start header-text"> Drive Real Change</h3>
                        <p class="fs-6"> Your work helps expose corruption, 
                            inform the public, and push for accountability.</p>
                    </div>

                </div>

            </div>
            <div class="col-md-6">
                <img src="/static/Assets/writer.png" alt="writer icon" class="img-fluid w-75"/>
            </div>
            <div class="col-12 mt-2 text-center">
                <a href="/sign-up"> <button type="button"  class="btn btn-primary mt-3 mb-5 fs-6 pt-2 pb-2 pe-4 ps-4 submit-btn" > Be a Contributor </button></a>           

                <p class="fs-6 text-center"><a href="/" >Not Interested</a></p>
            </div>
        </div>



</body>

<script src="static/scripts/index.js" type="module"></script>
</html>