<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css">


    <title>Home: Ruto Must Go</title>
 
</head>
<body >
  <section ><%- include('partials/header'); -%></section>
   
  <section class="hero">
    <div class="container">
      <div class="row justify-content-between hero-row">
        <div class="col-md-6 align-self-center">
          <h1 ><span class="hero-heading">#Ruto Must Go </span><br class="hero-inner-heading"> A Call for Change </h1>
          <p class="fs-6">Stand for justice, accountability, and a better future for all. 
            Join the movement demanding transparent leadership, economic empowerment, and policies that prioritize the needs of the people.  </p>
          <div class="row select-btn">
            <div class="col-4 col-sm-4">
              <button type="button" class="btn btn-primary  fs-6 pt-2 pb-2 pe-3 ps-3 donate-btn">
                Donate
              </button>
            </div>
            <div class="col-8 col-md-8">
              <button type="button" class="btn btn-primary ms-3 fs-6 pt-2 pb-2 pe-md-3 ps-md-3 submit-btn">
                Submit an Article
              </button>
            </div>

          </div>          
          
          
            <div class="row">
            <p class="fs-6 mb-0 seen-on">As Seen on:</p>
            <div class="col-3">
                <img src="/static/Assets/standard.png" alt=" " class="img-fluid hero-icons" />
            </div>
            <div class="col-3">
              <img src="/static/Assets/nation.png" alt=" " class="img-fluid hero-icons" />
            </div>
            <div class="col-3">
              <img src="/static/Assets/bbc.png" alt=" " class="img-fluid hero-icons" />
            </div>
            <div class="col-3">
              <img src="/static/Assets/cnn.png" alt=" " class="img-fluid hero-icons" />
            </div>

          </div>


        </div>
        <div class="col-md-6 image-col">
          <img src="/static/Assets/traffic.png" alt=" " class="img-fluid protest-image protest-1" />
        
        </div>
      </div>
    </div>

  </section>
  <section class="who-we-are">
    <div class="container">
      <div class="row justify-content-around we-are">
        
        <div class="col-md-5 align-self-center">
          <h3 class="fs-6 section-head">What We Do</h3>
          <h4 class="fs-2">Holding Leaders Accountable, Demanding Change</h4>  
        </div>
        <div class="col-md-6 align-self-center">
          <p class="fs-6"> Through activism, awareness, and community engagement, we demand leadership that truly serves the people.</p>
           </div>
        <div class="col-12">
          <div class="row justify-content-around who-features">
            <div class="col-md-3">
               <img src="/static/Assets/agree.png" class="img-fluid d-inline-block w-25" alt="...">
                  <h5 class="fs-5">Integrity</h5>
                  <p class="fs-6 pt-2">We expose corruption, demand justice, and 
                    push for leaders to uphold ethical governance and responsibility.</p>
              </div>
              <div class="col-md-3">
                <img src="/static/Assets/team.png" class="img-fluid d-inline-block w-25" alt="...">
                  <h5 class="fs-5">Empowerment</h5>
                  <p class="fs-6 pt-2">We educate and mobilize people to speak out, 
                    take action, and play an active role in shaping the country’s future.</p>
              </div>
              <div class="col-md-3">
                <img src="/static/Assets/public-relation.png" class="img-fluid d-inline-block w-25" alt="...">
                  <h5 class="fs-5">Advocacy</h5>
                  <p class="fs-6 pt-2">We advocate for policies that prioritize the needs
                     of the people and work towards leadership that truly serves the nation.</p>
              
              </div>
            </div>

          </div>
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary mt-5 pt-2 pb-2 pe-4 ps-4 submit-btn">
              Our Story
            </button>  
          </div>
        </div>
      </div>

    </div>


  </section>
  <section class="donate">
    <div class="container">
      <div class="row justify-content-around why-donate">
        <div class="col-md-4 align-self-center">
          <h2 class="fs-6 section-head">Why Donate to Us</h2>
          <h3 class="fs-2"> Make an Impact Today</h3>
          <p class="fs-6"> Your donation empowers the fight for justice and accountability. 
            With your support, we can expose corruption, mobilize communities, and demand real change. </p> 

        </div>
        <div class="col-md-4 align-self-start">
          <div>
            <img src="/static/Assets/moving.png" alt="" class="img-fluid d-inline-block w-25" />
            <h4 class="fs-5 ps-2 d-inline-block">Mobilization</h4>
            <p class="fs-6 pt-2"> We organize awareness campaigns 
              and community engagements to demand accountability and justice.</p>
          </div>
          <hr>
          <div>
            <img src="/static/Assets/microphone.png" alt="" class="img-fluid d-inline-block w-25" />
            <h4 class="fs-5 ps-2 d-inline-block">Awareness</h4>
            <p class="fs-6 pt-2"> Your support enables us to create impactful digital content, 
              print materials, and media outreach to spread our message.</p>
          </div>

        </div>
        <div class="col-md-4 align-self-start">
          <div>
            <img src="/static/Assets/donation.png" alt="" class="img-fluid d-inline-block w-25" />
            <h4 class="fs-5 ps-2 d-inline-block">Compensation</h4>
            <p class="fs-6 pt-2"> We compensate writers, researchers, 
              and activists who dedicate their time and expertise to the movement.</p>
          </div>
          <hr>
          <div>
            <img src="/static/Assets/money-saving.png" alt="" class="img-fluid d-inline-block w-25" />
            <h4 class="fs-5 ps-2 d-inline-block">Expenses</h4>
            <p class="fs-6 pt-2"> Donations help pay for website hosting, platform maintenance, 
              and operational expenses to keep our movement running effectively.</p>
          </div>

        </div>


      </div>

      </div>

    <div class="container-fluid how-donate">
      <div class="container">
        <div class="row justify-content-between how-donate">
          <div class="d-block">
            <h2 class="fs-6 pt-5 section-head">How to Donate</h2>
            <h3 class="fs-4 pt-2 pb-5"> Your donation, no matter the size, <br> helps us drive meaningful change. </h3> 
  
          </div>
          <div class="col-md-3 mt-3 mb-3 donate-card">
            <h3 class="step">1</h3>
            <h4 class="fs-5 pb-2">Enter the Phone Number and Amount</h4>
            <p class="fs-6">Navigate to your <a href="/donate">Donate</a> page, input your phone number along with the amount you'd like to donate.</p>
          </div>
          <div class="col-md-3 mt-3 mb-3 donate-card">
            <h3 class="step">2</h3>
            <h4 class="fs-5 pb-2">A prompt will Pop Up</h4>
            <p class="fs-6">A confirmation prompt will appear on your phone bearing the amount and recepinet as Ruto Must Go.</p>
          </div>
          <div class="col-md-3 mt-3 mb-3 donate-card">
            <h3 class="step">3</h3>
            <h4 class="fs-5 pb-2">Enter Your PIN and Send</h4>
            <p class="fs-6">Enter your M-Pesa PIN to authorize the donation and send the funds. And that's it!</p>
          </div>
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary mt-3 pt-2 pb-2 pe-4 ps-4 donate-btn">
              Donate Now
            </button>  
          </div>
  
        </div>

      </div>

    </div>

  </section>

  <section class="submit-articles">
    <div class="container">
      <div class="row pt-3">
        <div class="col-md-5">
          <h3 class="fs-6 section-head">How to Submit an Article</h3>
          <h4 class="fs-3">Want to share your voice and contribute to the movement? </h4>  
        </div>

      </div>
      <div class="row mt-3">
        <div class="d-sm-flex align-items-start">
          <div class="col-md-4 text-start me-sm-3 pt-sm-3">
          <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active text-start nav-step fs-6" id="v-pills-write-tab" data-bs-toggle="pill" data-bs-target="#v-pills-write" type="button" role="tab" aria-controls="v-pills-write" aria-selected="true">Step 1. Write Your Piece</button>
            <button class="nav-link text-start nav-step fs-6" id="v-pills-paste-tab" data-bs-toggle="pill" data-bs-target="#v-pills-paste" type="button" role="tab" aria-controls="v-pills-paste" aria-selected="false">Step 2. Paste in Editor</button>
            <button class="nav-link text-start nav-step fs-6" id="v-pills-format-tab" data-bs-toggle="pill" data-bs-target="#v-pills-format" type="button" role="tab" aria-controls="v-pills-format" aria-selected="false" >Step 3. Format the Article</button>
            <button class="nav-link text-start nav-step fs-6" id="v-pills-images-tab" data-bs-toggle="pill" data-bs-target="#v-pills-images" type="button" role="tab" aria-controls="v-pills-images" aria-selected="false">Step 4. Add Sources
            </button>
            <button class="nav-link text-start nav-step fs-6" id="v-pills-category-tab" data-bs-toggle="pill" data-bs-target="#v-pills-category" type="button" role="tab" aria-controls="v-pills-category" aria-selected="false">Step 5. Select a Category
            </button>
            <button class="nav-link text-start nav-step fs-6" id="v-pills-submit-tab" data-bs-toggle="pill" data-bs-target="#v-pills-submit" type="button" role="tab" aria-controls="v-pills-submit" aria-selected="false">Step 6. Submit for Review
            </button>
            <button class="nav-link text-start nav-step fs-6" id="v-pills-published-tab" data-bs-toggle="pill" data-bs-target="#v-pills-published" type="button" role="tab" aria-controls="v-pills-published" aria-selected="false">Step 7. Article is Published
            </button>
            <button class="nav-link text-start nav-step fs-6" id="v-pills-contributor-tab" data-bs-toggle="pill" data-bs-target="#v-pills-contributor" type="button" role="tab" aria-controls="v-pills-contributor" aria-selected="false">Step 8. Be a Contributor
            </button>
          </div>
          </div>
          <div class="col-md-8 ms-sm-3 pt-sm-3">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-write" role="tabpanel" aria-labelledby="v-pills-write-tab" tabindex="0">
              <p>Begin by drafting your article. 
                Whether you prefer writing in a separate document or directly in our editor, make sure your content is clear, well-researched, and aligned with our mission.</p>
                <p>We recommend writing on a:</p>
                <ol>
                  <li>Google Word Document</li>
                  <li>Microsoft Word Document</li>
                  <li>Google Sheets.</li>
                  <li>Evernote.</li>
                  <li>Dabble.</li>
                  <li>Living Writer.</li>
                </ol>
                <p>Among other many writing options out there. 
                  These tools offer better features including auto save. 
                  Ultimately, you can write on our editing tools.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-paste" role="tabpanel" aria-labelledby="v-pills-paste-tab" tabindex="0">
              <p> Once your draft is ready, copy and paste it into our online editor. 
                Our editor is designed to function similarly to the most block editors, allowing for smooth formatting.</p>
                <p>Our online editor may retain some of the styles from your document. 
                  However, most may be lost during the transition and that's why we recommend writers format the articles inside our online tool.</p>
                </div>
            <div class="tab-pane fade" id="v-pills-format" role="tabpanel" aria-labelledby="v-pills-format-tab" tabindex="0">Use the built-in formatting tools to enhance your article:
              <p>Apply bold and italic for emphasis.
              Use bullet points and numbered lists for clarity.
              Adjust alignment and spacing for a professional layout.</p>
              <p>Some of the functionalities our online tool offers include:</p>
              <ol>
                <li>Heading.</li>
                <li>Hyperlinks.</li>
                <li>Listings.</li>
                <li>Images.</li>
                <li>Videos.</li>
                <li>Text formatting.</li>
              </ol>
              <p>Among other dozen of features. We're working on many other features to improve the editor.</p>
            
            </div>
            <div class="tab-pane fade" id="v-pills-images" role="tabpanel" aria-labelledby="v-pills-images-tab" tabindex="0">
              <p>A well-structured article should include relevant media and references:</p>
            <ol>
              <li>Upload Images:</li>
                <P>Click the "Insert Image" button to add visuals. Ensure images are high quality and properly credited.</p>
              <li>Embed Links:</li>
                  <p>Use hyperlinks to reference sources, related articles, or supporting data.
                  </p>
              <li>Include Captions:</li>
                  <p>Briefly describe images to improve accessibility.</div>
                  </p>
            </ol>
            <p>Unless you're writing an opinion, we recommend that you add a few images or links as sources for articles. In addition, link them neatly or create a heading indicated as "<i>Sources</i>" and our team of moderators will review before publishing.</p>
            <div class="tab-pane fade" id="v-pills-category" role="tabpanel" aria-labelledby="v-pills-category-tab" tabindex="0">
              <p>Categorizing your article ensures it reaches the right audience. Choose the most relevant category from the list provided, such as:</p>
              <ol>
                <li>Politics.</li>
                <li>Economy.</li>
                <li>Activism.</li>
                <li>Opinion Pieces.</li>
                <li>corruption.</li>
              </ol>
              <p>We are adding even more categories and you can select as many as 3 relevant categories for your article. 
                Also, we recommend adding tags in the tags section to improve on discovereability of your article. 
                Our algorithm classifies articles based on categories and tags.</p>
             </div>
            <div class="tab-pane fade" id="v-pills-submit" role="tabpanel" aria-labelledby="v-pills-submit-tab" tabindex="0"> 
              <p>Before submitting, do a final check: </p>
              <ol>
                <li>Review spelling and grammar.</li>
                <li>Ensure the article follows community guidelines.</li>
                <li>Verify links and media display correctly.</li>
                <li>Check the formatting of your headings.</li>
              </ol>
              <p>Once satisfied, click "Submit for Review"—our editorial team will assess your article and provide feedback if necessary.</p>
            </div>
                <div class="tab-pane fade" id="v-pills-published" role="tabpanel" aria-labelledby="v-pills-published-tab" tabindex="0"> 
                  <p> After approval, your article will be officially published and be accessible to our readers! 
                    You’ll receive a confirmation on your email (for regular contributors), and your work will be featured on our platform.</p>
                    <p> The higher the interactions and impressions your articles has, the more prominent it will be on the platform. </p>
            </div>
            <div class="tab-pane fade" id="v-pills-contributor" role="tabpanel" aria-labelledby="v-pills-contributor-tab" tabindex="0"> 
              <p>If you’re passionate about sharing your insights regularly, consider joining us as a contributor. As a registered writer, you’ll enjoy:</p>
              <ol>
                <li>Compensation for Articles:</li>
                <p>Earn based on engagement and quality.</p>
                <li>Option to Stay Anonymous:</li>
                <p>Publish under a pseudonym if you prefer privacy.</p>
                <li>Exclusive Access:</li>
                <p>Get writing tips, editorial support, and early topic suggestions.</p>
              </ol>
              <p> How to Join: After your first article is published, you’ll receive an invitation to sign up as a regular contributor. 
                Follow the simple steps to get started!</p>
              <p> Your voice matters—be part of the movement! </p> 
            </div>
    
            </div>
          </div>
            
        </div>

      </div>

    </div>

  </section>

  <section class="cta">
    <div class="container cta-con">
      <div class="row pt-5 pb-5">
        <div class="col-md-6 align-self-center">
          <h2 class="fs-6 section-head">Join the Movement</h2>
          <h3 class="fs-2 cta-head pt-3">Be part of the call for accountability and change!</h3>

          <h4 class="fs-6 cta-text pt-2">Raise your voice, take action, and help shape a better future for all. </h4>  
        

        </div>
        <div class="col-md-5 align-self-center">
          <button type="button" class="btn btn-primary me-md-3 mt-3 pt-2 pb-2 pe-4 ps-4 donate-btn">
            Donate Now
          </button>  
          <button type="button" class="btn btn-primary ms-md-3 mt-3 pt-2 pb-2 pe-4 ps-4 donate-btn">
            Submit an Article
          </button>  

        </div>

      </div>

    </div>

  </section>
  <section ><%- include('partials/footer'); -%></section>
   
</body>

 <script src="static/scripts/index.js" type="module"></script>


</html>
